@media (max-width: 740px) {
  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li a {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }
  #mobile-menu {
    display: block;
  }

  .col-third{
    width: 100%;
  }

  #header .search-button {
    display: none;
  }
}
