* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
  background-color: #000;
  height: 46px;
<<<<<<< HEAD
  position: fixed;
  width: 100%;
=======
  width: 100%;
  position: fixed;
>>>>>>> 394c42d139636cbb87f840026b51d8859b944469
}

#header .search-button {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}

#header .search-button:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  line-height: 46px;
}

#nav {
  color: #fff;
  display: inline-block;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  text-transform: uppercase;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li:hover {
  background-color: #ccc;
}

#nav li:hover .subnav {
  display: block;
}

#nav li:hover a {
  color: #000;
}

#nav li:hover .subnav{
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
}

#nav .subnav li {
  color: #000;
  display: block;
  padding: 8px 16px;
}

#slider {
  height: 400px;
  background-color: #333;
}

<<<<<<< HEAD
#container {
=======
#content {
>>>>>>> 394c42d139636cbb87f840026b51d8859b944469
  height: 1000px;
}
